---
import BaseHead from "../../components/BaseHead.astro"
import Header from "../../components/HeaderGruvbox.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
import { getCollection } from "astro:content"
import BlogPostListItem from "../../components/BlogPostListItem.astro"

const posts = (await getCollection("blog"))
  .filter((post) => post.data.isPublished)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-3xl mx-auto min-h-screen px-6 sm:px-8 bg-[#1d2021]">
    <div class="flex flex-col min-h-[100dvh] bg-[#1d2021] text-[#ebdbb2]">
      <Header />
      <main class="flex-1 py-8">
        <div class="container mx-auto grid gap-8">
          {
            posts.map((post) => (
              <BlogPostListItem
                slug={post.slug}
                title={post.data.title}
                date={post.data.pubDate}
                description={post.data.description}
              />
            ))
          }
        </div>
      </main>
    </div>
  </body>
</html>
